
@set view {

  :root {
    flow:stack;
    size:*;
    overflow:auto;
    background: linear-gradient(to bottom,#F5FFFA,#ADD8E6);
    var(connector-color): #191970;
    var(connector-hover-color): #5bb3c7;
    font:system;
  } 

  :root[zoom="120"] {zoom:120%}
  :root[zoom="100"] {zoom:100%}
  :root[zoom="90"]  {zoom:90%}
  :root[zoom="80"]  {zoom:80%}
  :root[zoom="70"]  {zoom:70%}

  node {
    display:block;
    flow:vertical;      
    background:#FFF8DCEF;
    width:max-content;
    min-width:8em;
    max-width:16em;
    border-radius:0.5em;
    border:2px solid #D2B48C;
    hit-margin: 0.7em;
    border-spacing: 0.5em;
  }

  node[group] {
    background:#ffcba0EF;
  }

  node > caption {
    padding:0 1em;
    font-weight:bold;
    line-height:2em;
    white-space:pre;
    flow:text;
    overflow-x: hidden-scroll;
    width:*;
  }
  node > caption:hover {
    background:#FFFFFF77;
  }

  node > caption.renaming {
    behavior:edit;
    background:#fff;
  }

  div.ports {
    flow:horizontal-wrap;
    hit-margin: 0.7em;
    border-spacing: 0.5em;
  }
  div.ports > .break { clear:after; }

  .controls {
    display:block;
    margin:0 0.5em 0.5em 0.5em;
    width:*;
    horizontal-align:center;
  }

  .controls > input {
    display:block;
    width:auto;
  }

  .controls > output {
    display:block;
    width:max-content;
  }

  .controls.group {
    flow:row(label,div);
    width:max-content;
    margin:0 *;
  }

  .controls.group > label {
     display:block;
     width:10em;
     max-width:max-content;
     line-height:2em;
     text-align:right;
  }

  .controls.group .controls {
    horizontal-align:left; 
    width:max-content;
  }

  .socket {
    display:block;
    size:1em;
    border-radius:0.6em;
    border:2px solid #fff;
    background:#BCBCBC;
    hit-margin: 0.7em;
    z-index:1;
  }

  .socket[connected] {
    background:#8FDC8F; 
  }

  .socket[highlighted] {
    outline:4px solid var(connector-hover-color) -2px;
    //border-color: var(connector-hover-color);
  }

  .port { flow:stack; hit-margin: 0.7em; }

  .port > div { flow:horizontal; white-space:pre; padding:0em 1em; border-spacing:0.5em; } 
  .port > div > label { display:block; width:max-content; }
  .port > div > var { font-weight: bold; display:block; width:max-content; max-width:10em; }

  .port.input { margin-right:*; } 
  .port.input > .socket { margin: * * * -0.7em; }

  .port.output { margin-left:*; } 
  .port.output > .socket { margin: * -0.7em * *; }


}